.main-container {
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  height: 62.6vh;
}

a {
  text-decoration: none !important;
}

h3 {
  color: #f5a93f;
}

.input {
  margin-top: 1.4rem;
  display: flex;
  flex-direction: column;
}

input:focus {
  background-color: #f5a93f;
}

.form-container input {
  outline: 1px solid #f5a93f;
  padding: 10px 20px;
  color: black;
}
.form-container {
  background-color: transparent;
  padding: 10px;
}

form .btn {
  background-color: black;
  display: block;
  width: 80%;
  margin: auto;
}
.btn button {
  background-color: black;
  color: white;
}

label {
  padding-top: 10px;
}

.btn-g {
  margin-left: 2.4rem;
  width: 200px;
  margin-top: 2rem;
}

.btn-g .g-signin2 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
}
